# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Sphinx documentation
docs/_build/

# VS Code
.vscode/

# Jupyter NB Checkpoints
.ipynb_checkpoints/

# exclude data from source control by default
*.npy
*.pkl
*.parquet
*.csv

# Mac OS-specific storage files
.DS_Store
